body{
    background-color: rgba(8, 33, 46, 0.863);
    font-family: sans-serif;
    
}
form{
    /* margin-left: auto;
    margin-right: auto; */
    /* text-align: center; */
    color: white;
    max-width: 300px;
    margin: auto;
}
input{
    width: 300px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(8, 33, 46);
    border: 1px solid silver;
    border-radius: 1px;
    padding-left: 5px;
}
label{
    font-size: x-small;
    float: left;
    margin-top: 5px;
}
span{
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
    
}
input[type="submit"]{
    background-color: rgb(20, 213, 247);
    border: 0px solid rgba(48, 119, 161, 0.644);
}
::placeholder{
    color: silver;
    font-size: xx-small;
}
input[type="file"]{
    border: none;
    background: none;
    font-size: 7px;
    padding: 1px;
    width: 100%;
}
.line{
    display: inline;
}