table, th, td{
    border: 1px solid rgb(252, 239, 214);;
    border-collapse: collapse;
    padding: 5px;
    font-size: xx-small;
    font-family: sans-serif;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
td{
    text-align: right;
}
#mainhead{
    background-color: rgb(247, 229, 197);
}
#head1{
    background-color: rgb(236, 188, 111);
}
tr:nth-child(even){
    background-color: rgb(247, 229, 197);
}
.left{
    text-align: left;
}
#end{
    background-color: rgb(94, 94, 94);
}
#headspc{
    font-size: small;
    letter-spacing: 10px;
}
