table{
    border: 0.5px solid black;
    border-radius: 8px;
    border-collapse: collapse;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: xx-small;
}

td, th{
    border-bottom: 0.5px solid black;
    text-align: left;
    padding: 20px 0 20px 5px;
}
tr th{
    background-color: rgb(250, 250, 165);
}
body{
    background-color: rgb(197, 235, 95);
    font-family: sans-serif;
}
tr td{
    background-color: white;
}