body{
    /* background: rgb(66, 62, 62); */
    /* border: 10px solid gray;
    outline: 10px groove gray; */
    text-align: center;
    margin: 0;
    padding: 0;
    background: black;
}
img{
    width: 268px;
    height: 300px;
    border: 0px solid black;
    /* padding: 10px; */
    /* margin: 5px; */
    transition: all 2s;
    margin: 0;
    padding: 0;
}
img:hover{
    transform: scale(1.1, 1.1);
    /* transform: rotate(-45deg); */
    /* width: 500;
    height: 500; */
}
figure{
    border: 5px solid teal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
button{
    margin-top: 100px;
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid teal;
    background: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    outline: none;
}
button:hover{
    background: rgb(12, 158, 158);
}
.headng{
    margin: 0;
    padding: 0;
    border: 0px solid black;
    background-color: rgb(48, 47, 47);
    /* height: 20vh; */
    margin-top: 0%;
    color: white;
    /* text-align: left; */
    padding-left: 100px;
}