body{
    background: black !important;
    text-align: center !important;
    margin: 0;
    padding: 0;
}
*{
    /* margin: 0 !important;
    padding: 0 !important; */
}
.headng{
    margin: 0;
    padding: 0;
    border: 0px solid black;
    background-color: rgb(48, 47, 47);
    /* height: 20vh; */
    margin-top: 0%;
    color: white;
    /* text-align: left; */
    padding-left: 100px;
}
figure{
    border: 5px solid teal;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
img{
    width: 268px;
    height: 300px;
    border: 0px solid black;
    /* padding: 10px; */
    /* margin: 5px; */
    margin: 0;
    padding: 0;
    filter: blur(2px);
}
img:hover{
    transform: scale(1.1, 1.1);
    filter: blur(0px);
    /* transform: rotate(-45deg); */
    /* width: 500;
    height: 500; */
}
#end button{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 200px;
    height: 60px;
    border-radius: 70px !important;
    font-weight: 600 !important;
    letter-spacing: 2px;
    font-size: x-large !important;
}

.hov a:hover{
    color: rgb(39, 197, 197) !important;
}
.nav li a button{
    height: 30px;
    padding: 0 10px;
    font-size: large;
}
.navbar-brand h4:hover{
    transition: 2s all;
    transform: rotate(-360deg);
}
.navbar-brand h4{
    color: gray;
}
.nav li a{
    margin-left: 20px;
    font-size: large;
}
.logospan{
    color: teal;
}
nav{
    text-align: left !important;
}